<!DOCTYPE html>
<html lang="en">
	<head>
    <% include ../partials/head %>
	</head>
    <body>
	<div class="container">
	<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
        <header>
			<% include ../partials/header %>
		</header>
        </div>
		</div>
		<div class="row">
         <div class="naslov col-xs-12 col-md-12 col-lg-12">
                <h1>O alatu Easy Java Simulation</h1>
		 </div>
		 <hr>
            </div>
            
           <!--div class="row">
                <p class="col-xs-12 col-md-12 col-lg-12" style="height:300px;text-align: center;">Web stranica je u izradi...</p>
         
        </div-->
		<div class="row">
                <p class="col-xs-12 col-md-12 col-lg-12" >Da bi kreirali kompjutersku simulaciju 
				koja opisuje neku fizičku pojavu iz bilo koje oblasti fizike, potrebno je prilično znanja iz programiranja.
				To znači da, ako neko koje ekspert za fiziku, a želi da napravi simulaciju koja mu pomaže da izučava određenu fizičku pojavu,
				treba da potroši mnogo dodatnog vremena i truda da savlada onoliko programiranja koliko mu je potrebno da uspešno kreira neku 
				čak i jednostavnu kompjutersku simulaciju.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Alat EJS(engl. Easy Java Simulation) je alat koji znatno olakšava kreiranje kompjuterskih simulacija, 
				tako da omogućava fizičarima, a i drugim licima da uz neko minimalno znanje iz programiranja
				kreiraju kompjuterske simulacije simulacije.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Easy Java Simulation je program otvorenog koda, je deo paketa open source phisics(OSP)  projekta,
				kreirane u programskom jeziku JAVA, kao i novija verzija Easy Javascript Simulation(EJSS),
				kreirane u JAVA programskom jeziku i omogućava kreiranje kompjuterskih simulacija u Javi ili Javascriptu.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				U ovom članku će biti opisano pisanje javascript apleta.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				EJS je dizajniran u Maurica univerzitetu, u Španiji
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Programiranje korišćenjem EJS-a zasnovana je na MVC(Model View Controller) arhitekturi,
				koja predstavlja standard u arhitekturi, jer razdvaja vizuelni deo od računskog dela i podataka, 
				kao i upravljanje istim.
				</p>
        </div>
		<div class="row">
		<h2>Instalacija EJS-a</h2>
                <p class="col-xs-12 col-md-12 col-lg-12" >Ejs se može preuzeti sa sajta
				<a href="https://www.um.es/fem/EjsWiki/Main/Download">EJS preuzimanje</a>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Sa sajta treba preuzeti najnoviju stabilnu verziju ili neku stariju po potrebi. 
				Ovaj tutorijal koristi verziju  EjsS_5.3_180211.zip , vidi sliku ispod:
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/Instalacija EJS.png"/>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Zip arhivu treba raspakovati u neki željeni folder.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Sadržaj raspakovanog foldera sadrži u sebi sledeće foldere:
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/instalacijaEJS-2.png"/>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Ovde vidimo jar fajl EjsConsole za startovanje EJS-a, kao i tri foldera, 
				od kojih je nama značjan workspace folder u kome se nalaze kreirane simulacije.
				Sadržaj workspace foldera:
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/Instalacija EJS-3.png"/>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				U okviru foldera sources treba sačuvati simulacije tj. fajlove sa ekstenzijom .ejs ili .ejss u zavisnosti da li se prave java 
				ili javascript simulacije.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				U output folderu se nalaze kreirane simulacije koje će se koristiti u web stranicama. Program se startuje klikom na jar fajl EjsConsole.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/Instalacija EJS-4.png"/>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Prozor Ejs console ima 3 tab-a: Basic option u kome se nalaze osnovna podešavanja, 
				Advanced option i Output area. U pozadini se vidi da je startovan Ejs u ovom primeru jer je u
				osnovnim opcijama za programski  jezik odabrana Java.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				U osnovnim opcijama treba odabrati: podrazumevanu virtuelnu mašinu, tj. Java JRE verziju. 
				Takođe treba odabrati radni prostor(engl. workspace) i programski jezik u kome se prave simulacije.
				Kao podrazumevano stoji java, ali ćemo mi promeniti u javascript.
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/basicOption.png"/>
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				Iako je odabrana Java, i dalje se može pokrenuti javascript varijanta klikom na dugme “Lunch Easy Java(script) Simulation.
				Međutim mi ćemo promeniti Programski jezika na javascript, da bi se u sledećem pokretanju Ejs 
				console automatski pokrenuo i EjsS za rad u javascriptu. Posle ponovnog startovanja Ejs Console pokreće 
				se i EjsS aplikacija za izradu simulacija u javascript-u:
				</p>
				<p class="col-xs-12 col-md-12 col-lg-12" >
				<img class="slike_u_tekstu" src="images/upotrebaEjsaOpis/startovanje EjsS.png"/>
				</p>
        </div>
		<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">
        <% include ../partials/scripts %>
        <% include ../partials/footer %>
		</div>
		</div>
		</div>
	
    </body>
</html>