

<!-- views/partials/head.ejs -->


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6CY7MHR5MD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6CY7MHR5MD');
</script>





<!-- Default Statcounter code for Kosi-Hitac
https://kosi-hitac.onrender.com/ -->
<script type="text/javascript">
  var sc_project=12833628; 
  var sc_invisible=1; 
  var sc_security="79630a2f"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12833628/0/79630a2f/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->



<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="description" content="Istražite interaktivne simulacije iz fizike kreirane pomoću Java i JavaScript programskih 
jezika koristeći alat Easy JavaScript Simulation (EJS). Na našem sajtu nudimo detaljna uputstva i primere za kreiranje
 vizualnih simulacija uz minimalno kodiranje. Saznajte više o različitim alatima za simulacije, uključujući Processing i p5.js, 
 i pronađite praktične primene u obrazovanju i nauci. Otkrijte kako EJS, deo Open Source Physics projekta, olakšava kreiranje simulacija na različitim platformama." />
 <meta name="keywords" content="Simulacije iz fizike,
Easy JavaScript Simulation (EJS),
Open Source Physics,
Java simulacije,
JavaScript simulacije,
Processing,
p5.js,
Interaktivne simulacije,
Obrazovni alati,
Naučne simulacije,
Java programiranje,
JavaScript programiranje,
Tutorijali za simulacije, Kos hitac, Kružno kretanje, Rotacija krutog tela,
 Ravno kretanje krutog tela, Kompjuterske simulacije, kompjuterske simulacije u fizici, Masa i opruga, Ravno kretanje točka," />
	<meta name="author" content="Slobodan Tršek" />
	<base href="/">

<!-- CSS (load bootstrap from a CDN) -->
<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link-->

<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css"></link>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Add icon library -->
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../_ejs_library/css/ejsContentsLeft.css"></link>
<link rel="stylesheet" type="text/css" href="../css/main.css"></link>
