<!-- views/partials/header.ejs -->


<nav class="desktop-nav navbar navbar navbar-default d-flex justify-content-start navbar-fixed-top bg-info align-self-center" role="navigation">
<div class="container-fluid ">
    
	 <!-- Collapse button -->
		
        <a class="navbar-brand" href="/">
            
            <img src="/images/harbour-city.png" alt="Logo"  ">
        </a>
		<!-- Collapsible content -->
		<div class="navbar-collapse" id="basicExampleNav">
        <ul class="nav navbar navbar-expand-lg navbar-dark indigo .navbar-text horizontal">
		
		<span class="navbar-text white-text">
            <li class="nav-item active"><a class="nav-link" href="/">		
			
			Po훾etna
			<span class="sr-only">(current)</span>
			</a></li></span>
			<span class="navbar-text white-text">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">EJS</a>
				<ul class="dropdown-menu bg-secondary submenu" aria-labelledby="navbarDropdownMenuLink">
				<li class="nav-item"><a class="dropdown-item" href="/o_ejsu">Uvod o EJS-u</a></li>
				<li class="nav-item bg-secondary"><a class="dropdown-item" href="/o_ejsu_primer">Izrada EJSS aplikacije</a></li>
				<li class="nav-item bg-secondary"><a class="dropdown-item " href="/o_ejsu_primer_napredno">Izrada EJSS aplikacije-napredno</a></li>
				
				 </ul>
			
			</li>
            
			
			</span>
			<span class="navbar-text white-text">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Simulacije</a>
				<ul class="dropdown-menu bg-secondary submenu" aria-labelledby="navbarDropdownMenuLink">
				<li class="nav-item bg-secondary"><a class="dropdown-item" href="/">Masa i opruga</a></li>
				<li class="nav-item bg-secondary"><a class="dropdown-item " href="/about">Kosi hitac</a></li>
				<li class="nav-item bg-secondary"><a class="dropdown-item " href="/">Kru탑no kretanje</a></li>
				 </ul>
			
			</li>
			</span>
        </ul>
		</div>
    </div>
</nav>
<!--nav class="mobile-nav navbar container-fullwidth navbar-fixed-top bg-info d-flex w-100 h-150 justify-content-between align-self-center"-->
<!--div class="container-fluid h-150 w-100"-->
  <!-- Brand -->
  <nav class="mobile-nav navbar navbar-light navbar-static bg-info w-100 align-self-center container-fullwidth" role="navigation">
  
  <div class="row justify-content-center">
  <div class="d-flex justify-content-between moj-header col-xs-12 col-md-12 col-lg-12">
  <a class="logo flex-item" href="/">
            
            <img src="/images/harbour-city.png" alt="Logo"  ">
  </a>

  <a class="navbar-brand p-2 text-white flex-item" href="/">
            
            Kosi-Hitac
  </a>
  <button class="navbar-toggler bg-secondary p-2 mr-auto flex-item" id="navbarSideButton" type="button">
  <span class="line"></span> 
        <span class="line"></span> 
        <span class="line"></span>
  
</span>
      <!--/*&#9776;*/ -->
    </button>
  <!-- Navbar links -->
  <!--div class="collapse navbar-collapse w-100" id="collapsibleNavbar"-->
  <!--ul class="nav navbar-nav"-->
    <!-- Collapsible content -->
		
        <ul class="navbar-side navbar-side d-flex flex-column" id="navbarSide">
		
		<span class="navbar-text bg-info">
            <li class="nav-item active"><a class="nav-link text-light w-100" href="/">		
			
			Po훾etna
			<span class="sr-only">(current)</span>
			</a></li></span>
			<span class="navbar-text bg-info">
            <li class="nav-item "><a class="nav-link text-light w-100" href="/o_ejsu">EJS</a></li>
			</span>
			<span class="navbar-text bg-info">
			<li class="nav-item dropdown">
			<a class="nav-link text-light w-100 dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Simulacije</a>
				<ul class="dropdown-menu bg-primary submenu" aria-labelledby="navbarDropdownMenuLink">
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/simulacija_Masa_i_Opruga">Masa i opruga</a></li>
				</span>
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/vertikalan_Hitac">Vertikalan hitac</a></li>
				</span>
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/kos_Hitac">Kosi hitac</a></li>
				</span>
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/Kruzno_Kretanje_MT">Kru탑no kretanje</a></li>
				</span>
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/Rotacija_Diska">Rotacija diska</a></li>
				</span>
				<span class="navbar-text bg-primary">
				<li class="nav-item bg-primary"><a class="dropdown-item text-light" href="/RavnoKretanjeTocka">Ravno kretanje krutog tela</a></li>
				</span>
				 </ul>
			
			</li>
			</span>
        </ul>
		
  <!--/div--> 
    <!-- insert more nav-items if you so choose -->
    
  <!--/div-->
  <!-- Toggler/collapsibe Button -->
  
  <div class="overlay"></div>
  </div>
  </div>
   
</nav>
