

<!-- views/partials/head.ejs -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6CY7MHR5MD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6CY7MHR5MD');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDQ4LT95');</script>
<!-- End Google Tag Manager -->





<!-- Default Statcounter code for Kosi-Hitac
https://kosi-hitac.onrender.com/ -->
<script type="text/javascript">
  var sc_project=12833628; 
  var sc_invisible=1; 
  var sc_security="79630a2f"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/12833628/0/79630a2f/1/"
  alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->



<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name="description" content="Sajt namenjem kreiranju kompjuterskih simulacija korišćenjem Easy Java Simulation(EJS),
 kao i Easy Javascript Simulation(EJSS)" />
 <meta name="keywords" content="Easy Java Simulation, Easy Javascript Simulation, Kos hitac, Kružno kretanje, Rotacija krutog tela,
 Ravno kretanje krutog tela, Kompjuterske simulacije, kompjuterske simulacije u fizici, Masa i opruga, Ravno kretanje točka," />
	<meta name="author" content="Slobodan Tršek" />
	<base href="/">

<!-- CSS (load bootstrap from a CDN) -->
<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link-->

<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css"></link>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css"></link>


<link rel="stylesheet" type="text/css" href="../_ejs_library/css/ejsContentsLeft.css"></link>
<link rel="stylesheet" type="text/css" href="../css/main.css"></link>

 