<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
   <% include ../partials/head %>
    <title> Početna strana simulacije kosog hica </title>
	
	

<meta name="description" content="Simulaciju kreirane korišćenjem alata Easy Java Simulation(EJS). Simulacije koje objašnjavaju i demonstriraju  neke fizičke pojave." />
<meta name="keywords" content="Kos hitac, easy java simulation, ejs, Ravno kretanje krutog tela, kružno kretanje materijalne tačke" />
<meta name="author" content="Slobodan Trsek"/>

  </head>
  <body>
  <div class="container moj-header">
  <div class="row">
  <div class="header moj-header nav-fill w-100 col-xs-12 col-md-12 col-lg-12">
   
    <% include ../partials/header %>

</div>
</div>
<h1>Simulacija kosog hica</h1>
<div class="row">

  <div class="d-flex align-content-center">
  <div class="intro_1">
  <%- include(path1); %>
	</div>
	
	<div class="intro_2">
	
	<%- include(path2); %>

   </div>
   </div>
   </div>
   
   <div class="row">
   <div class="content col-xs-12 col-md-12 col-lg-12">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
</div>
</div>
  </body>
</html>
