<html>
  <head>
  
    <title> kos hitac opis</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	<meta name="description" content="Simulacija kosog kica kreirane korišćenjem alata Easy Java Simulation(EJS). 
" />
<meta name="keywords" content="Kos hitac, brzina u smeru x ose, brzina u smeru y ose, prijeđeni put, najveća postignuta visina " />
<meta name="author" content="Slobodan Trsek"/>
  </head>
  <body > 
	
    <p><strong>Kosi hitac je kretanje koje se sastoji od kretanja nekog tela u ravni, brzinom V<sub>0</sub> po pravcu koji zaklapa vektor brzine sa osom x.</strong></p>
<p>Kosi hitac je složeno kretanje koje se može podeliti na dva nezavisna kretanja, vertikalno i horizontalno. Dok je 

komponenta horizontalnog kretanja ista sve vreme tokom kretanja, vertikalna komponenta se smanjauje za g*t zbog 

gravitacione sile koja vuće kuglu prema dole (slobodni pad). Na površini zemlje gravitociono ubrzanje iznosi približno g=9.81m/s²   a</p>

<p>Sledeće formule opisuju kosi hitac:</p>

<p>Brzina u smeru x ose v u smjeru osi x: <strong>v<sub>0X</sub>=v<sub>0</sub>*cos(α)</strong></p>

<p>Brzina u smeru y ose v u smjeru osi y: <strong>v<sub>0Y</sub>=v<sub>0</sub>*sin(α) - g*t</strong></p>

<p>Prijeđeni put u smeru ose x: <strong>x=v<sub>0</sub>*t*cos(α)</strong></p>

<p>Prijeđeni put u smeru ose y <strong>y=v<sub>0</sub>*t*sin(α) - g*t²/2 </strong></p>

<p>Vreme potrebno da tijelo postigne najvišu tačku putanje <strong>t=v<sub>0</sub>*sin(α)/g</strong></p>

<p>Najveća postignuta visina <strong>H<sub>Max</sub>=v<sub>0</sub>²*(sin(α))²/(2*g)</strong></p>

<p>Domet <strong>D=v<sub>0</sub>²*sin(2*α)/g</strong></p>
  </body>
</html>
