<html>
  <head>
    <title> Uvod</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 

    <h1>
      RAVNOMERNO KRU&#381;NO KRETANjE MATERIJALNE TA&#268;KE
    </h1>
     <div class="link-simulacije">
    <p>
      Najjednostavniji oblik krivolinijskog kretanja materijalne ta&#269;ke je 
      kru&#382;no kretanje. U svakoj ta&#269;ki putanje pravac trenutne brzine se 
      poklapa sa tangentom na putanju. Vektor brzine i radijus vektor su 
      me&#273;usobno normalni.
    </p>
    <div class="link-simulacije">
		<a href="/Kruzno_Kretanje_MT"><h4 class="jumbotron">Kružno kretanje materijalne tačke</h4></a>
		<a href="/Kruzno_Kretanje_MT"><img src="images/KruznoKretanjeMT/KruznoKretanjeMT.png" alt="Kruzno kretanje materijalne tačke"></a>
	</div>
    </div>
    <p>
      Vrste kru&#382;nog kretanja:
    </p>
    <ul>
      <ol>
        ravnomerno kru&#382;no kretanje &#8211; intenzitet brzine se ne menja
      </ol>
      <ol>
        promenljivo kru&#382;no kretanje &#8211; intenzitet brzine se menja
      </ol>
    </ul>
    <p>
      Ako se materijalna ta&#269;ka kre&#263;e po kru&#382;nici brzinom stalnog intenziteta, 
      takvo kretanje se naziva ravnomerno kru&#382;no kretanje.
    </p>
    <div>
      <img src="./images/KruznoKretanje_1.png"/>
      
    </div>
    <p>
      Po&#353;to je pri ravnomernom kru&#382;nom kretanju brojna vrednost (intenzitet) 
      brzine stalna, tangencijalno ubrzanje je jednako nuli. Me&#273;utim, 
      neprekidno se menja pravac brzine, pa postoji normalno ubrzanje.
    </p>
    <p>
      Pravac normalnog ubrzanja se poklapa sa polupre&#269;nikom kru&#382;nce, a smer je 
      uvek ka centru kru&#382;nice, pa se zato naziva i radijalno odnosno 
      centripetalno ubrzanje. <img src="./images/KruznoKretanje_2.png"/>
    </p>
  
  </body>
</html>
