<html>
  <head>
    <title> Aktivnosti</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 

    <h2>
      Zadaci
    </h2>
    <ol>
      <li>
        Merenje ugaone brzine i ugaonog pomeraja u zavisnosti od po&#269;etnih uslova
      </li>
      <li>
        Uneti razli&#269;ite vrednosti sile F ugla psi i vremena delovanja sile.  
      </li>
      <li>
        Odrediti ugaonu brzinu, ugaono ubrzanje kao i ugaoni pomeraj posle nekog vremena t.
      </li>
      
    </ol>
  
  </body>
</html>
