<html>
  <head>
   <% include ../partials/head %>
    <title> Uvod</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 
<div class="container moj-header">
 
    <h1>
      KRU&#381;NO KRETANJE KRUTOG TELA-ROTACIJA DISKA
    </h1>
    <p>
      Kruto telo &#8211; telo koje ima stalan oblik i zapreminu (prilikom kretanja 
      ne menja ni oblik ni zapreminu).
    </p>
    <p>
      Kruto telo mo&#382;e da se posmatra kao da je sastavljeno od velikog broja 
      sitnih delova koji su obele&#382;eni ta&#269;kama.
    </p>
    <p>
      Podela kretanja prema na&#269;inu kretanja pojedinih ta&#269;aka krutog tela:
    </p>
    <ul>
      <ol>
        translatorno
      </ol>
      <ol>
        rotaciono
      </ol>
    </ul>
    <h3>
      Translatorno kretanje
    </h3>
    <ul>
      <ol>
        pri kretanju krutog tela svi njegovi deli&#263;i kre&#263;u se na isti na&#269;in i 
        opisuju iste putanje
      </ol>
      <ol>
        putanje ta&#269;aka su paralelne
      </ol>
      <ol>
        za isto vreme prelaze iste puteve &#8211; brzine su im iste
      </ol>
    </ul>
    <div>
      <img src="./images/RotacijaDiska/TranslatornoKretanje.png"/>
      <img src="./images/RotacijaDiska/TranslatornoKretanje.png"/>
      
    </div>
    <h3>
      Rotaciono kretanje
    </h3>
    <p>
      deli&#263;i krutog tela se kre&#263;u po kru&#382;nim putanjama, a sve te kru&#382;nice le&#382;e 
      u ravnima koje su me&#273;usobno paralelne
    </p>
    <p>
      osa rotacije &#8211; prava kojoj pripadaju centri svih kru&#382;nica (mo&#382;e da 
      prolazi kroz telo, a mo&#382;e biti i izvan tela)
    </p>
    <div>
      <img src="./images/RotacijaDiska/RotacijaDiska1.png"/>
      
    </div>
    <h2>
      Fizi&#269;ke veli&#269;ine kojima se opisuje rotaciono kretanje
    </h2>
    <p>
      Ugaona brzina je fizi&#269;ka veli&#269;ina kojom se opisuje brzina rotacije 
      krutog tela.
    </p>
    <p>
      Kada telo rotira njegove ta&#269;ke nemaju iste brzine, jer ta&#269;ke bli&#382;e osi 
      su sporije, dok su ta&#269;ke udaljenije od ose br&#382;e. Sve ta&#269;ke tela pre&#273;u 
      isti ugao za isto vreme tj. sve ta&#269;ke tela imaju istu ugaonu brzinu. 
      Zato se u rotaciji umesto brzine koristi ugaona brzina.
    </p>
    <h2>
      Ugaoni pomeraj
    </h2>
    <p>
      
    </p>
    <div>
      Svi deli&#263;i za isto vreme opi&#353;u isti ugao i naprave isti ugaoni pomeraj.
    </div>
    <div>
      <img src="./images/RotacijaDiska/UgaoniPomeraj.png"/>
      
    </div>
    <p>
      Ta&#269;ke 1 i 2 se nalaze na razli&#269;itim rastojanjima od ose rotacije. Za 
      isto vreme prelaze razli&#269;ite puteve i imaju razli&#269;ite pomeraje.
    </p>
    <p>
      Radijus vektori ta&#269;aka 1 i 2 za isto vreme opi&#353;u isti ugao (slika). 
      Opisani ugao predstavlja fizi&#269;ku veli&#269;inu kojom se opisuje rotaciono 
      kretanje. Na osnovu opisanog ugla defini&#353;e se ugaoni pomeraj. Ugaoni 
      pomeraj je vektorska veli&#269;ina.
    </p>
    <h2>
      Ugaono ubrzanje
    </h2>
    <p>
      
    </p>
    <div>
      Ugaono ubrzanje je fizi&#269;ka veli&#269;ina kojom se opisuje promena ugaone 
      brzine kod promenljivog rotacionog kretanja. Smer vektora ugaonog 
      ubrzanja zavisi od promene ugaone brzine. Ako ugaona brzina raste, smer 
      ugaone brzine i ugaonog ubrzanja se poklapaju. Ako ugaona brzina opada, 
      ugaono ubrzanje ima suprotan smer u odnosu na ugaonu brzinu.
    </div>
    <div>
      <div>
        <img src="./images/RotacijaDiska/SmerUgaonogUbrzanja1.png"/>
        <img src="./images/RotacijaDiska/RotacijaDiska1.png"/>
        
      </div>
      <div>
        <img src="./images/RotacijaDiska/SmerUgaonogUbrzanja2.png"/>
        
      </div>
    </div>
    <h2>
      Rotacija diska
    </h2>
    <p>
      Pravac normalnog ubrzanja se poklapa sa poluprecnikom kru&#382;nice, a smer 
      je uvek ka centru kru&#382;nice, pa se zato naziva i radijalno tj. 
      centripetalno ubrzanje
    </p>
    <div>
      <img src="./images/RotacijaDiska/RotacijaDiska2.png"/>
    </div>
  </div>
   <div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
  
  </body>
</html>
