<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>

  <head>
  <% include ../partials/head %>
   <meta name="description" content="Simulacija rotacije krutog tela, gde je kao primer uzet disk koji rotira oko nepokretne ose. 
   Simulacija kreirana pomoću alata Easy Java Simulation(EJS)." />
	<meta name="keywords" content="Kruto telo,kružno kretanje, kružno kretanje krutog tela,rotacija diska,
	translatorno, rotaciono kretanje,translatorno kretanje,osa rotacije,Fizičke veličine,Ugaoni pomeraj,
	Ugaono ubrzanje, centripetalno ubrzanje, poluprecnikom kružnice" />
	<meta name="author" content="Slobodan Trsek"/>
    
    <title> Početna strana za simulaciju Rotacije Diska oko svoje ose</title>
  </head>
  <body>
  <div class="container moj-header">
   <div class="row">
  <div class="header moj-header content col-xs-12 col-md-12 col-lg-12">
   
    <% include ../partials/header %>

</div>
</div>
 <div class="row">
  <div class="intro_1">
  <div class="intro_1">
	<% include ./RotacijaDiska_Contents %>
	</div>
	<div class="intro_2">
	<% include ./RotacijaDiska_Intro_1 %>
   </div>
   </div>
   </div>
    <div class="row">
   <div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
</div>
    </div>
  </body>
</html>
