<html>
  <head>
   <% include ../partials/head %>
    <title> Opis zadatka 1</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
  </head>
  <body > 
  <div class="container moj-header">
  <div class=" nav content d-flex justify-content-center bg-info">
    <% include ../partials/header %>
	</div>
	<div class="slide">
    <h1>
      Rotacija diska, resenje zadatka 1
    </h1>
    <p>
      Kreirati simulaciju tak da ima dva prikaza 2D i 3D, kao sto je prikazano 
      na slici ispod:
    </p>
	
    <div class="slide">
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak1_1.png"/>
      
    </div>
	
    <div class="slide">
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak1_2.png"/>
      
    </div>
    <div class="slide">
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak1_3.png"/>
      
    </div>
    <div class="slide">
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak1_4.png"/>
      
    </div>
    <div class="slide">
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak1_5.png"/>
    </div>
	</div>
  </div>
  <div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
  </body>
</html>
