<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
	<meta name="description" content="Simulaciju kreirane korišćenjem alata Easy Java Simulation(EJS). 
Simulacije koje objašnjavaju i demonstriraju  neke fizičke pojave." />
<meta name="keywords" content="Simulacije kreirane pomoću alata EJS,Simulacije ejs, easy java simulation, ejs, Ravno kretanje krutog tela,
 kružno kretanje materijalne tačke,simulacija iz fizike,pomoću Java,JavaScript programskog jezika,kreiranje simulacija,JavaScript apleti,Ravno kretanje krutog tela,Rotacija diska
imulacije kreirane pomoću JAVE,processing java, kreiranje aplikacija java, kreiranje simulacija pomoću Java programskog jezika, kreiranje simulacija javascript" />
<meta name="author" content="Slobodan Trsek"/>
	<title>Simulacije kreirane pomoću alata EJS</title/>
</head>
<body>
<div class="container moj-header">
<div class="row">
<header class="moj-header col-xs-12 col-md-12 col-lg-12 nav-fill w-100">

    <% include ../partials/header.ejs %>
	
	
</header>

</div>


<div class="d-flex flex-column  justify-content-start">
    <div class=" d-flex flex-column  justify-content-center m-3 p-3">
        <h1 class="text-center">Simulacije kreirane pomoću alata EJS</h1>
        <h4 class="text-center">Dobrodošli  na web prezentaciju simulacija iz fizike.</h4>
    </div>
	</div>
	
	<div class="d-flex flex-column p-2 section">
	
	<p>    Ovaj sajt je posvećen kreiranju kompjuterskih simulacija iz fizike u programskom jeziku JAVA, i javascript, upotrebom jezika
	<a href='https://izprogramiranja.weebly.com/uvod_u_processing.html'><strong>"Processing".</strong></a></p>Takođe je opisano 
	korišćenje alata Easy JavaScript Simulation(EJSS) koji je deo softverskog alata 
 otvorenog koda (tzv. open source).</p><p> Ovaj alat je deo "the Open Source Physics project" koji je dizajniran za pravljenje kompjuterskih simulacija.</p>
 <p>Alat je namenjen fizičarima i svima onima koji žele da proučavaju fizičke pojave uz manje truda oko pisanja programskog koda, jer isti alat to omogućava.
 Alat omogućava kreiranje simulacija ili pomoću Java ili JavaScript programskog jezika. Ekstenzije fajlova kreiranih pomoću Java programskog jezika je
 <strong>.ejs</strong>, dok je ona izrađena pomoću JavaScript-a sa ekstenzijom <strong>.ejss.</strong>
</p>
<p>Ovaj alat može biti namenjen u edukativne ili naučne svrhe, takođe može služiti kreiranju kompjuterskih igrica.</p>
<p>Simulacija kreirana pomoću Jave zahteva da na racunaru bude instalirana Java Virtuelna Masina(JVM)koja je sastavni deo platforme za Javu(JRE ili JDK).
Za razliku od Jave, JavaScript apleti se mogu izvršavati na skoro svim uređajima danas uključujući Android i iOS.</p>
<p>Više o programskom jeziku JAVA možete pročitati na sajtu:  <a href='https://izprogramiranja.weebly.com'> <b>Svet programiranja</b></a></p>
	</div>
	<div class="row">
	<div class="desktop d-flex justify-content-around flex-wrap align-content-center">
	
	<% include ./Simulations_Contents %>
	</div>
	</div>
	<div class="row">
	<div class="mobile d-flex flex-column col-xs-12 col-md-12 col-lg-12">
	
	<% include ./Simulations_Contents %>
	</div>
	</div>
	<div class="d-flex flex-column p-3 section">
<h2 class="text-center">Simulacije kreirane pomoću JAVE i Eclipse IDE alata</h2><br>
<p>Programski jezik <a href='https://izprogramiranja.weebly.com/java_predavanja.html'><strong>"Java"</strong></a>  zajedno sa bibliotekom OSP (Open Source Physics) pruža ljubiteljima fizike mogućnost za njihovu izradu.
 Jednostavne Java Simulacije(EJS) alat omogućava izradu kompjuterskih simulacija na lak način bez preteranog bavljenja samim programiranjem, 
 omogućavajuči studentu da  pažnju preusmeri na samu fizičku pojavu. </p>
 <p>Ukoliko ste dobro znate da programirate u Java programskom jeziku, a želite da pravite simulacije u nekom od poznatih javinih alata kao što je npr. Eclipse,
 možete da koristeći API, tj biblioteke koje već inače koristite, programirajući aplikacije u Javi. 
 Za pravljenje <a href='https://izprogramiranja.weebly.com/java_predavanja.html'><strong>vizuelnog dela aplikacije u Javi</strong></a> koristite svakako klase
 iz paketa <b>"javax.swing"</b>, tako da na taj način možete da isprogramirate i kompletnu simulaciju iz fizike, ili da napravite 2D ili 3D igricu.</p>
 <p>Na ovaj način imate bolju kontrolu nad kompletnim kodom, nego sa korišćenjem alata EJS, ali zahteva nešto više izdvojenog vremena za razvijanje aplikacije.</p>
 <p>Pročitajte više o pravljenju animacija, tj simulacija iz fizike na ovaj način, na web strani:  
 <a href='https://izprogramiranja.weebly.com/java_i_simulacije_u_fizici.html'><strong>"Java i simulacije u fizici."</strong></a></p>
 <p>Starija <b>swing</b> biblioteka je dopunjena "processing" skupom biblioteka, koji je u početku bio namenjen za poboljšano kreiranje 
 vizuelnih aplikacija u 2D i 3D, sa brojnim efektima i to na mnogo lakši način nego sa <b>swing</b> paketom.</p>
 <p>Processing je dobar za kreiranje desktop , kao i serverskih aplikacija, a za kreiranje web aplikacija, pogodnije je koristiti noviju varijantu,
 koja se u osnovi zasniva na javascript-u, a to je biblioteka <a href='https://p5js.org/'><strong>"p5js."</strong></a></p>

<div id="containerSlobodanPad" class="d-flex flex-column justify-content-center bd-highlight mb-3 okvir_animacija">
<div id="canvasForHTMLSlobodanPad" class="d-flex justify-content-center flex-row bd-highlight okvir_animacija"></div>
</div>



</div>
<div class="row">
<div class="container jumbotron content col-xs-12 col-md-12 col-lg-12">

	<% include ../partials/scripts %>
    <% include ../partials/footer %>

	</div>
</div>
</div>

</body>
</html>