<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
	<meta name="description" content="Simulaciju kreirane korišćenjem alata Easy Java Simulation(EJS). 
Simulacije koje objašnjavaju i demonstriraju  neke fizičke pojave." />
<meta name="keywords" content="Simulacije kreirane pomoću alata EJS,Simulacije ejs, easy java simulation, ejs, Ravno kretanje krutog tela,
 kružno kretanje materijalne tačke,simulacija iz fizike,pomoću Java,JavaScript programskog jezika,kreiranje simulacija,JavaScript apleti,Ravno kretanje krutog tela,Rotacija diska
imulacije kreirane pomoću JAVE,processing java, kreiranje aplikacija java, kreiranje simulacija pomoću Java programskog jezika, kreiranje simulacija javascript" />
<meta name="author" content="Slobodan Trsek"/>
	<title>Simulacije kreirane pomoću alata EJS</title/>
</head>
<body>
<div class="container moj-header">
<div class="row">
<header class="moj-header col-xs-12 col-md-12 col-lg-12 nav-fill w-100">

    <% include ../partials/header.ejs %>
	
	
</header>

</div>


<div class="d-flex flex-column  justify-content-start">
    <div class=" d-flex flex-column  justify-content-center m-3 p-3">
        <h1 class="text-center">Simulacije kreirane pomoću alata EJS</h1>
        <h4 class="text-center">Dobrodošli  na web prezentaciju simulacija iz fizike.</h4>
    </div>
	</div>
	
	<div class="d-flex flex-column p-2 section">
	
	<p>    Ovaj sajt je posvećen kreiranju kompjuterskih simulacija u fizici koristeći različite programske alate,
	uključujući Java i JavaScript, sa posebnim fokusom na <a href='https://www.svetprogramiranja.com/uvod_u_processing.html'><strong>"Processing" </strong></a>
	i Easy JavaScript Simulation (EJS) alat.
	</p>
	<p>Easy JavaScript Simulation (EJS) je otvorenog koda alat, deo Open Source Physics projekta, 
	dizajniran za olakšavanje izrade kompjuterskih simulacija. EJS omogućava korisnicima da kreiraju vizualne i interaktivne simulacije sa minimalnim pisanjem koda,
	što ga čini idealnim za fizičare, studente i istraživače.</p>
	Takođe je opisano 
	korišćenje alata Easy JavaScript Simulation(EJSS) koji je deo softverskog alata 
 otvorenog koda (tzv. open source).</p><p> Ovaj alat je deo "the Open Source Physics project" koji je dizajniran za pravljenje kompjuterskih simulacija.</p>
 <p>Alat je namenjen fizičarima i svima onima koji žele da proučavaju fizičke pojave uz manje truda oko pisanja programskog koda, jer isti alat to omogućava.
 Alat omogućava kreiranje simulacija ili pomoću Java ili JavaScript programskog jezika. Ekstenzije fajlova kreiranih pomoću Java programskog jezika je
 <strong>.ejs</strong>, dok je ona izrađena pomoću JavaScript-a sa ekstenzijom <strong>.ejss.</strong>
</p>
<p>Ovaj alat može biti namenjen u edukativne ili naučne svrhe, takođe može služiti kreiranju kompjuterskih igrica.</p>
<p>Simulacija kreirana pomoću Jave zahteva da na racunaru bude instalirana Java Virtuelna Masina(JVM)koja je sastavni deo platforme za Javu(JRE ili JDK).
Za razliku od Jave, JavaScript apleti se mogu izvršavati na skoro svim uređajima danas uključujući Android i iOS.</p>
<h2>Šta je novo na našem sajtu?</h2>
<p><ul><li><strong>Kreiranje Simulacija u Java i JavaScript:</strong> Detaljno objašnjavamo kako koristiti EJS za pravljenje simulacija u oba programskog jezika.</li>
 <li>Naučite razlike između .ejs i .ejss fajlova i kako ih koristiti za različite platforme.</li>

<li><strong>Praktični Primeri i Tutorijali:</strong> Pružamo tutorijale i primere simulacija koje možete prilagoditi ili koristiti kao osnovu za svoje projekte.</li>

<li><strong>Edukativne i Naučne Aplikacije:</strong> Istražite kako se EJS može koristiti u obrazovanju i nauci, kao i u razvoju kompjuterskih igara.</li>
</ul></p>
<h2>Zašto koristiti EJS?</h2>
<p><ul><li><strong>Jednostavnost: </strong> EJS omogućava brzo kreiranje simulacija uz minimalan kod.</li>
 <li>Naučite razlike između .ejs i .ejss fajlova i kako ih koristiti za različite platforme.</li>

<li><strong>Svestranost: </strong> Alat podržava Java i JavaScript, omogućavajući vam da radite na različitim platformama.</li>

<li><strong>Široka dostupnost:</strong> JavaScript simulacije mogu se pokretati na skoro svim uređajima, uključujući Android i iOS.</li>
</ul></p>
<h2>Simulacije</h2>
<p><ul><li><strong>Masa i opruga: </strong></li>
 <li><strong>Slobodan pad</strong></li>

<li><strong>Vertikalni hitac</strong> </li>

<li><strong>Kos hitac:</strong></li>
<li><strong>Kružno kretanje materijalne tačke</strong></li>

<li><strong>Rotacija diska</strong> </li>

<li><strong>Ravno kretanje točka</strong></li>
</ul></p>
<h2>Dodatne Informacije</h2>
<p><ul><li><strong>Simulacije kreirane pomoću JAVE i Eclipse IDE alata: </strong> Uputstva za rad sa Java i Eclipse, kao i upotreba biblioteke OSP.</li>


<li><strong>Simulacija slobodnog pada lopte i horizontalnog hica: </strong> Kreirane pomoću JavaScript-a i p5js biblioteke.</li>


</ul></p>
<p>Da biste započeli sa radom, preuzmite najnoviju verziju EJS-a i istražite našu biblioteku tutorijala i primera.</p>
<p>Za više informacija o programskom jeziku Java, posetite našu stranicu:  <a href='https://www.svetprogramiranja.com'> <b>Svet programiranja</b></a></p>
	</div>
	<div class="row">
	<div class="desktop d-flex justify-content-around flex-wrap align-content-center">
	
	<% include ./Simulations_Contents %>
	</div>
	</div>
	<div class="row">
	<div class="mobile d-flex flex-column col-xs-12 col-md-12 col-lg-12">
	
	<% include ./Simulations_Contents %>
	</div>
	</div>


	<div class="d-flex flex-column p-3 section">
<h2 class="text-center">Simulacije kreirane pomoću JAVE i Eclipse IDE alata</h2><br>
<p>Programski jezik <a href='https://www.svetprogramiranja.com/java_predavanja.html'><strong>"Java"</strong></a>  zajedno sa bibliotekom OSP (Open Source Physics) pruža ljubiteljima fizike mogućnost za njihovu izradu.
 Jednostavne Java Simulacije(EJS) alat omogućava izradu kompjuterskih simulacija na lak način bez preteranog bavljenja samim programiranjem, 
 omogućavajuči studentu da  pažnju preusmeri na samu fizičku pojavu. </p>
 <p>Ukoliko ste dobro znate da programirate u Java programskom jeziku, a želite da pravite simulacije u nekom od poznatih javinih alata kao što je npr. Eclipse,
 možete da koristeći API, tj biblioteke koje već inače koristite, programirajući aplikacije u Javi. 
 Za pravljenje <a href='https://www.svetprogramiranja.com/java_predavanja.html'><strong>vizuelnog dela aplikacije u Javi</strong></a> koristite svakako klase
 iz paketa <b>"javax.swing"</b>, tako da na taj način možete da isprogramirate i kompletnu simulaciju iz fizike, ili da napravite 2D ili 3D igricu.</p>
 <p>Na ovaj način imate bolju kontrolu nad kompletnim kodom, nego sa korišćenjem alata EJS, ali zahteva nešto više izdvojenog vremena za razvijanje aplikacije.</p>
 <p>Pročitajte više o pravljenju animacija, tj simulacija iz fizike na ovaj način, na web strani:  
 <a href='https://www.svetprogramiranja.com/java_i_simulacije_u_fizici.html'><strong>"Java i simulacije u fizici."</strong></a></p>
 <p>Starija <b>swing</b> biblioteka je dopunjena "processing" skupom biblioteka, koji je u početku bio namenjen za poboljšano kreiranje 
 vizuelnih aplikacija u 2D i 3D, sa brojnim efektima i to na mnogo lakši način nego sa <b>swing</b> paketom.</p>
 <p>Processing je dobar za kreiranje desktop , kao i serverskih aplikacija, a za kreiranje web aplikacija, pogodnije je koristiti noviju varijantu,
 koja se u osnovi zasniva na javascript-u, a to je biblioteka <a href='https://p5js.org/'><strong>"p5js."</strong></a></p>


</div>

<div class="d-flex flex-column p-3 section">
<h2 class="text-center">Simulacija slobodnog pada lopte</h2><br>
<p>Simulacija je kreirana u javascript-u, pomoću biblioteke p5js</p>
<div id="canvasForHTMLSlobodanPad" class="d-flex flex-row justify-content-center bd-highlight mb-3 okvir_animacija"></div>
<p>Kako se kreira slična simulacija, ali korišćenjem processing-a i Jave pročitajte na web strani:  <a href='https://www.svetprogramiranja.com/kos_hitac_u_processingu.html'><strong>"Kosi hitac u processing-u"</strong></a>.
  </p>

</div>
<div class="d-flex flex-column p-3 section">
<h2 class="text-center">Simulacija horizontalnog hica</h2><br>
<p>Simulacija je kreirana u javascript-u, pomoću biblioteke p5js</p>
<div id="canvasForHTMLHorizontalniHitac" class="d-flex flex-column justify-content-center bd-highlight mb-3 okvir_animacija"></div>
<p>Kako se kreira slična simulacija, ali korišćenjem processing-a i Jave pročitajte na web strani:  <a href='https://www.svetprogramiranja.com/kos_hitac_u_processingu.html'><strong>"Kosi hitac u processing-u"</strong></a>.
  </p>

</div>



<div class="row">
<div class="container jumbotron content col-xs-12 col-md-12 col-lg-12">
     
	<% include ../partials/scripts %>

    <% include ../partials/footer %>

	</div>
</div>
</div>

</body>
</html>