<!-- views/pages/Simulations_Contents.ejs -->


    <!--div class="linkovi-simulacija d-flex justify-content-between"-->
        <div class="link-simulacije">
		<a href="/simulacija_Masa_i_Opruga"><h4 class="jumbotron">Masa i opruga</a>
		<span class="white-text">
		</h4>
		<a href="/simulacija_Masa_i_Opruga"><img src="images/MassAndSpring/MassAndSpring.png" alt="Masa i opruga"></a>
		</div>
		<div class="link-simulacije">
		<a href="/simulacija_Slobodan_Pad"><h4 class="jumbotron">Slobodan pad</h4></a>
		<a href="/simulacija_Slobodan_Pad"><img src="images/SlobodanPad/slobodanPad.png" alt="Slobodan pad simulacija"></a>
		</div>
		<div class="link-simulacije">
		<a href="/vertikalan_Hitac"><h4 class="jumbotron">Vertikalan hitac</h4></a>
		<a href="/vertikalan_Hitac"><img src="images/VertikalanHitac/vertikalanHitac.png" alt="Vertikalan hitac"></a>
		</div>
		<div class="link-simulacije">
		<a href="/kos_Hitac"><h4 class="jumbotron">Kos hitac</h4></a>
		<a href="/kos_Hitac"><img src="images/KosHitac/KosHitac.png" alt="Kos hitac"></a>
		</div>
		<div class="link-simulacije">
		<a href="/Kruzno_Kretanje_MT"><h4 class="jumbotron">Kru탑no kretanje materijalne ta훾ke</h4></a>
		<a href="/Kruzno_Kretanje_MT"><img src="images/KruznoKretanjeMT/KruznoKretanjeMT.png" alt="Kruzno kretanje materijalne ta훾ke"></a>
		</div>
		<div class="link-simulacije">
		<a href="/Rotacija_Diska"><h4 class="jumbotron">Rotacija diska</h4></a>
		<a href="/Rotacija_Diska"><img src="images/RotacijaDiska/RotacijaDiska1.png" alt="Rotacija diska oko svoje ose"></a>
		</div>
		
		<div class="link-simulacije">
		<a href="/RavnoKretanjeTocka"><h4 class="jumbotron">Ravno kretanje to훾ka</h4></a>
		<a href="/RavnoKretanjeTocka"><img src="images/RavnoKretanjeTocak/RavnoKretanjeTocka.png" alt="Ravno kretanje krutog tela"></a>
		</div>
    <!--/div-->
	