<html>
  <head>
    <title> Aktivnosti</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 

    <h2>
      Zadaci
    </h2>
    <ol>
      <li>
        Merenje maksimalne visine u zavisnosti od po&#269;etnih uslova
      </li>
      <li>
        Uneti razli&#269;ite vrednosti po&#269;etne brzine. Kako promena po&#269;etne brzine 
        uti&#269;e na maksimalnu visinu?
      </li>
      <li>
        Uneti razli&#269;ite vrednosti intenziteta vektora po&#269;etne brzine . Kako promena po&#269;etne brzine uti&#269;e  maksimalnu visinu?
      </li>
      <li>
        Kako se menja kineti&#269;ka, a kako potencijalna energija pri vertikalnom hicu?
      </li>
    </ol>
  
  </body>
</html>
