<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
   <% include ../partials/head %>
   <meta name="description" content="Simulacija vertikalnog hica naviše zajedno sa kratkim uvidom u teoriju vertikalnog hica. 
   Simulacija kreirana pomoću alata Easy Java Simulation(EJS)." />
	<meta name="keywords" content="Vertikalan hitac, kretanje tela, gravitacionom polju zemlje, intenziteta vektora početne brzine, 
	sile teže,slobodno  pada,gravitociono ubrzanje,najvišu tacku putanje,Merenje maksimalne visine,potencijalna energija,
	potencijalna energija pri vertikalnom hicu" />
	<meta name="author" content="Slobodan Trsek"/>
    <title> Početna strana za vertikalan hitac</title>
  </head>
  <body>
   <div class="container moj-header">
 <div class="row"><!-- Header-->
  

<header class="moj-header col-xs-12 col-md-12 col-lg-12 nav-fill w-100">
   
    <% include ../partials/header %>
    </header>
</div>
</div>
<div class="content intro_1">
  <div class="intro_1">
  <%- include(path1); %>
	</div>
	
	<div class="intro_2">
	
	<%- include(path2); %>

   </div>
   </div>
   <div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
   
	</div>
  </body>
</html>
