<html>
  <head>
    <title> Zadatak</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
  </head>
  <body > 

    <h2>
      Ravno kretanje krutog tela zadatak
    </h2>
    <p>
      Napraviti simulaciju ravnog kretanja diska mase m i polupre&#269;nika r Od 
      starta na disk deluje sila u pravcu kretanja to&#269;ka u trajanju od t 
      sekundi kao na slici.
    </p>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Zadatak_1.png"/>
    </div>
  
  </body>
</html>
