<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
  <% include ../partials/head %>
   <meta name="description" content="Simulacija kotrljanja točka bez klizanja. 
   Simulacija kreirana pomoću alata Easy Java Simulation(EJS)." />
	<meta name="keywords" content="Ravno kretanje krutog tela,kretanje krutog tela,
	krutog tela,obrtanja oko ose, rotacijom oko pola,konstantnom ugaonom brzinom,
	Jednačine ravnog kretanja točka,Trenutni pol brzina,Ravno Kretanje Tocka,Kotrljanje bez klizanja cilindra,
	Kotrljanje bez klizanja,Ubrzanje kod ravnog kretanja krutog tela,ubrzanja tačke A oko pola C,
	translatorno kretanje centra,
	 " />
    <title> Početna stranica za Ravno Kretanje Tocka</title>
  </head>
  <body>
  <div class="container moj-header">
   <div class="row">
  <div class="header moj-header content col-xs-12 col-md-12 col-lg-12 nav-fill w-100">
   
    <% include ../partials/header %>
	</div>
	</div>
	 <div class="row">
   <div class="intro_1">
  <div class="intro_1">
	<% include ./RavnoKretanjeTocka_Contents %>
	</div>
	<div class="intro_2">
	<% include ./RavnoKretanjeTocka_Intro %>
   </div>
   </div>
   </div>
    <div class="row">
    <div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
</div>
    </div>
  </body>
</html>
