<html>
  <head>
   <% include ../partials/head %>
   <meta name="description" content="Simulacija kotrljanja točka bez klizanja - uvod. 
   Simulacija kreirana pomoću alata Easy Java Simulation(EJS)." />
	<meta name="keywords" content="Ravno kretanje krutog tela,kretanje krutog tela,
	krutog tela,Napraviti simulaciju , pravcu kretanja točka 
	 " />
    <title>Ravno Kretanje Tocka - zadatak</title>
    
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	
  </head>
  <body > 
	 <div class="container moj-header">
	  <div class="row">
  <div class="header moj-header content col-xs-12 col-md-12 col-lg-12">
   
    <% include ../partials/header %>
	</div>
	</div>
	 <div class="row">
    <h1>
      Ravno kretanje krutog tela zadatak
    </h1>
    <p>
      Napraviti simulaciju ravnog kretanja diska mase m i polupre&#269;nika r Od 
      starta na disk deluje sila u pravcu kretanja to&#269;ka u trajanju od t 
      sekundi kao na slici.
    </p>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Zadatak_1.png"/>
    </div>
	</div>
	 <div class="row">
	<div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
</div>
  </div>
  </body>
</html>
