<html>
  <head>
    <% include ../partials/head %>
   <meta name="description" content="Simulacija kotrljanja točka bez klizanja - uvod. 
   Simulacija kreirana pomoću alata Easy Java Simulation(EJS)." />
	<meta name="keywords" content="Ravno kretanje krutog tela,kretanje krutog tela,
	krutog tela,obrtanja oko ose, rotacijom oko pola,konstantnom ugaonom brzinom,
	Jednačine ravnog kretanja točka,Trenutni pol brzina,Ravno Kretanje Tocka,Kotrljanje bez klizanja cilindra,
	Kotrljanje bez klizanja,Ubrzanje kod ravnog kretanja krutog tela,ubrzanja tačke A oko pola C,
	translatorno kretanje centra,
	 " />
    <title>Ravno Kretanje Tocka - uvod</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	
  </head>
  <body > 
	
  
    <h1>
      RAVNO KRETANJE KRUTOG TELA
    </h1>
    <p>
      Ravno kretanje krutog tela je takvo kretanje pri kome se za sve vreme 
      kretanja sve ta&#269;ke tela kre&#263;u u ravni koja je paralelna nepomi&#269;noj 
      unapred uo&#269;enoj ravni
    </p>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_1.png"/>
      
    </div>
    <p>
      Ravno kretanje predstavlja kombinaciju dva najprostija kretanja
    </p>
    <ul>
      <ol>
        translacije
      </ol>
      <ol>
        obrtanja oko ose <strong>&#269;iji je pravac nepromenljiv&#160; a polo&#382;aj u 
        prostoru promenjiv u toku vremena. </strong>
      </ol>
    </ul>
    <p>
      Pri kretanju krutog tela svi njegovi deli&#263;i kre&#263;u se na isti na&#269;in i 
      opisuju iste putanje
    </p>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_2.png"/>
      
    </div>
    <h3>
      Primeri ravnog kretanja krutih tela
    </h3>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Primeri_1.png"/>
      
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Primeri_2.png"/>
      
    </div>
    <p>
      
    </p>
    <div>
      Posmatramo polo&#382;aje ravnog preseka S u trenucima vremena t0, t1 i t2 
      (uo&#269;i&#263;emo materijalnu du&#382; i posmatra&#263;emo polo&#382;aje ove du&#382;i):
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_3.png"/>
      
    </div>
    <p>
      
    </p>
    <div>
      Ravno kretanje krutog tela sastoji se iz dva osnovna kretanja : <strong>translatornog 
      </strong>i <strong>obrtnog</strong> kretanja oko ose koja prolazi kroz 
      proizvoljno izabrani pol u ravni figure S a upravna je na tu ravan.
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_4.png"/>
      
    </div>
    <p>
      Pomeranje reprezentativnog preseka iz jednog polo&#382;aja u drugi&#160; mo&#382;e da 
      se ostvari
    </p>
    <ul>
      <ol>
        jednom translacijom (preseka zajedno sa polom C) i jednom rotacijom 
        oko pola C za ugao<b> &#966;</b>
      </ol>
      ili

      <ol>
        samo jednom rotacijom oko ose &#269;istog obrtanja.
      </ol>
    </ul>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_5.png"/>
      
    </div>
   
	<div class="content">
   <footer>
	<% include ../partials/scripts %>
    <% include ../partials/footer %>
</footer>
</div>
  
  </body>
</html>
