<html>
  <head>
    <title> Uvod</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
	<link rel="stylesheet" type="text/css" href="css/main.css"></link>
  </head>
  <body > 

    <h1>
      RAVNO KRETANJE KRUTOG TELA
    </h1>
    <p>
      Ravno kretanje krutog tela je takvo kretanje pri kome se za sve vreme 
      kretanja sve ta&#269;ke tela kre&#263;u u ravni koja je paralelna nepomi&#269;noj 
      unapred uo&#269;enoj ravni
    </p>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_1.png"/>
      
    </div>
    <p>
      Ravno kretanje predstavlja kombinaciju dva najprostija kretanja
    </p>
    <ul>
      <ol>
        translacije
      </ol>
      <ol>
        obrtanja oko ose <strong>&#269;iji je pravac nepromenljiv&#160; a polo&#382;aj u 
        prostoru promenjiv u toku vremena. </strong>
      </ol>
    </ul>
    <p>
      Pri kretanju krutog tela svi njegovi deli&#263;i kre&#263;u se na isti na&#269;in i 
      opisuju iste putanje
    </p>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_2.png"/>
      
    </div>
    <h3>
      Primeri ravnog kretanja krutih tela
    </h3>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Primeri_1.png"/>
      
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Primeri_2.png"/>
      
    </div>
    <p>
      
    </p>
    <div>
      Posmatramo polo&#382;aje ravnog preseka S u trenucima vremena t0, t1 i t2 
      (uo&#269;i&#263;emo materijalnu du&#382; i posmatra&#263;emo polo&#382;aje ove du&#382;i):
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_3.png"/>
      
    </div>
    <p>
      
    </p>
    <div>
      Ravno kretanje krutog tela sastoji se iz dva osnovna kretanja : <strong>translatornog 
      </strong>i <strong>obrtnog</strong> kretanja oko ose koja prolazi kroz 
      proizvoljno izabrani pol u ravni figure S a upravna je na tu ravan.
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_4.png"/>
      
    </div>
    <p>
      Pomeranje reprezentativnog preseka iz jednog polo&#382;aja u drugi&#160; mo&#382;e da 
      se ostvari
    </p>
    <ul>
      <ol>
        jednom translacijom (preseka zajedno sa polom C) i jednom rotacijom 
        oko pola C za ugao<b> &#966;</b>
      </ol>
      ili

      <ol>
        samo jednom rotacijom oko ose &#269;istog obrtanja.
      </ol>
    </ul>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_5.png"/>
      
    </div>
    <p>
      
    </p>
    <p>
      
    </p>
    <p>
      Kona&#269;ne jedna&#269;ine kretanja krutog tela (zakoni ravnog kretanja):
    </p>
    <div class="intro_1">
      <div class="intro_1">
        xc = xc (t), yc = yc (t), fic = &#966;c (t).
      </div>
      <div class="intro_2">
        Prve dve jedna&#269;ine se odnose na translaciju to&#269;ka u xOy ravni, dok se 
        tre&#263;a odnosi na rotaciju oko centra to&#269;ka za ugao &#966;
      </div>
    </div>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_6.png"/>
      
    </div>
    <h3>
      Ravno kretanje krutog tela sa konstantnom ugaonom brzinom w
    </h3>
    <div>
      <div>
        <p>
          Jedna&#269;ine ravnog kretanja to&#269;ka za korak promene vremena od dt 
          sekundi:
        </p>
        <p>
          
        </p>
        <div class="slide">
          <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Formula_1.png"/>
          
        </div>
      </div>
      <div class="slide">
        <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_7.png"/>
        
      </div>
    </div>
    <h3>
      Trenutni pol brzina
    </h3>
    <p>
      Ravansko kretanje krutog tela mo&#382;e da se posmatra kao &#269;isto obrtanje oko 
      ose trenutnog obrtanja
    </p>
    <h3>
      U ravni preseka uvek postoji ta&#269;ka &#269;ija je brzina jednaka nuli.
    </h3>
    <div>
      <div>
        To je ta&#269;ka prodora ose trenutne rotacije kroz tu ravan i ona se 
        naziva <strong>trenutni pol brzina P</strong>
      </div>
      <div>
        <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_8.png"/>
        
      </div>
    </div>
    <h3>
      Kotrljanje bez klizanja cilindra po nepomi&#269;noj povr&#353;i
    </h3>
    <p>
      Po&#353;to nema klizanja na mestu dodira to&#269;ka i povr&#353;i, brzina ta&#269;ke 
      cilindra kojom ovaj dodiruje povr&#353; jednaka je nuli. Prema tome ova ta&#269;ka 
      je <strong>trenutni pol</strong> brzina.
    </p>
    <p>
      Brzine proizvoljnih ta&#269;aka A i B su:
    </p>
    <p>
      
    </p>
    <div>
      vA = &#969; AP<br>vB = &#969; BP<br>vC=&#969;*r<br>
    </div>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_10.png"/>
      
    </div>
    <h2>
      Ubrzanje kod ravnog kretanja krutog tela
    </h2>
    <p>
      
    </p>
    <div>
      Pri ravnom kretanju je ubrzanje proizvoljne ta&#269;ke A to&#269;ka jednako 
      geometrijskom zbiru ubrzanja pola C, i ubrzanja ta&#269;ke A oko pola C
    </div>
    <div>
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_10.png"/>
      
    </div>
    <p>
      Jedna&#269;ine ravnog kretanja to&#269;ka za korak promene vremena od dt sekundi:
    </p>
    <p>
      
    </p>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Formula_2.png"/>
      
    </div>
    <h3>
      Ravno kretanje krutog tela sa ugaonim ubrzanjem a-dinamika
    </h3>
    <p>
      Sli&#269;no kao i kod rotacije diska i ako dodamo translatorno kretanje 
      centra:
    </p>
    <p>
      <br>
      
    </p>
    <div class="slide">
      <img src="./images/RavnoKretanjeTocak/RavnoKretanje_KT_Formula_3.png"/>
    </div>
  
  </body>
</html>
