<html>
  <head>
    <title> Aktivnosti</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 

    <h2>
      Zadaci
    </h2>
    <ol>
      <li>
        Merenje dometa u zavisnosti od po&#269;etnih uslova
      </li>
      <li>
        Uneti razli&#269;ite vrednosti po&#269;etne brzine. Kako promena po&#269;etne brzine 
        uti&#269;e na domet i maksimalnu visinu?
      </li>
      <li>
        Uneti razli&#269;ite vrednosti ugla izme&#273;u pravca vektora po&#269;etne brzine i 
        x ose. Kako promena po&#269;etne brzine uti&#269;e na domet i maksimalnu visinu?
      </li>
      <li>
        Kako se menja kineti&#269;ka, a kako potencijalna energija pri kosom hicu?
      </li>
    </ol>
  
  </body>
</html>
