<html>
  <head>
    <title> Zadaci</title>
    <link rel="stylesheet" type="text/css" href="_ejs_library/css/ejss.css"></link>
  </head>
  <body > 

    <h1>
      Rotacija diska , ravnomerno obrtanje
    </h1>
    <h2>
      Zadatak 1
    </h2>
    <p>
      Napraviti simulaciju obrtanja diska polupre&#269;nika <strong>r</strong> 
      i mase <strong>m</strong>, tako da rotira oko vertikalne ose ugaonom 
      brzinom <strong>w=1rad/s</strong>
    </p>
    <h2>
      Zadatak 2
    </h2>
    <p>
      Napraviti simulaciju obrtanja diska polupre&#269;nika <strong>r</strong> 
      i mase <strong>m</strong>, tako da rotira oko vertikalne ose.<br>Od 
      starta na disk deluje sila pod nekim uglom u odnosu na radijalni pravac 
      u trajanju t sek, kao na slici:<br>
    </p>
    <div>
      <img src="./images/RotacijaDiska/RotacijaDiskaZadatak2.png"/>
    </div>
  
  </body>
</html>
