<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar navbar-expand-lg navbar-dark .navbar-text indigo">
	 <!-- Collapse button -->
		
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Simulacije u EJS -u
        </a>
		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="nav navbar navbar-expand-lg navbar-dark indigo .navbar-text horizontal">
		
		<span class="navbar-text white-text">
            <li class="nav-item active"><a class="nav-link" href="/">		
			
			Home
			<span class="sr-only">(current)</span>
			</a></li></span>
			<span class="navbar-text white-text">
            <li class="nav-item"><a href="/about">About</a></li>
			</span>
			<span class="navbar-text white-text">
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Simulacije</a>
				<ul class="dropdown-menu dropdown-primary submenu" aria-labelledby="navbarDropdownMenuLink">
				<li class="nav-item"><a class="dropdown-item" href="/">Masa i opruga</a></li>
				<li class="nav-item"><a class="dropdown-item" href="/about">Kosi hitac</a></li>
				<li class="nav-item"><a class="dropdown-item" href="/">Kružno kretanje</a></li>
				 </ul>
			
			</li>
			</span>
        </ul>
		</div>
    </div>

</div>
</nav>